@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Oswald&family=Rubik+Puddles&display=swap');

#content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 350px) {
    [class*="col-"] {
        float: left;
        padding: 5px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

body {
    background-color: black;
}

#header {
    height: 75px;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;
}

.header-text {
    position: relative;
    top: -75px;
    left: 120px;
    font-family: 'Caramel', cursive;
    font-size: 250%;
    color: gold;
    text-shadow: 5px 5px black;
}

h2 {
    text-shadow: 2px 2px lightgray;
}

#image1,
#image2,
#image3 {
    float: right;
    max-height: 200px;
    margin: 5px;
    padding: 1px;
    border-radius: 5px;
}

footer {
    max-height: 50px;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

@media only screen and (max-width: 350px) {
    .header-text {
        position: relative;
        top: 0px;
    }
}

/* Accordion */

.ui-accordion-header.ui-state-active {
    background-color: darkgray;
    border: darkgray;
}
